extends layout.pug 

block content
    .wrapper 
        .sidebar 
        .mainbar
            h1.form-header Edit Your Question
            if errors
                .warn
                    p The following errors occurred:
                    ul
                        each error in errors
                            li= error
            .ask-container
                form.form(action=`/questions/${question.id}/edit` method="post")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    .field-placeholder
                        //- label(for='title') Question:
                        input.form-bar(type='text' name='title' value=question.title)
                    .field-placeholder
                        //- label(for='content') Description:
                        textarea.form-box(type='text' name='content') #{question.content}
                    .field-button
                        button.signup-button Submit