extends layout

block content
    .wrapper
        .sidebar
        .mainbar
            p #{user.userName}
            ul
                for question in user.Questions
                    li: a(href=`questions/${question.id}`) #{question.title}
            ul
                for answer in  user.Answers
                    li #{answer.content}
            ul
                for answer in  user.Answers
                    li #{answer.Question.dataValues.title}

        .sidebar
